<p-card>
  <p-header>
    <div class="p-grid">
      <div class="p-col-6">
        <span class="Title ui-card-title">{{thought.name}}</span>
      </div>
      <div class="p-col-6">
        <span>{{thought.updated | date: "short"}}</span>
      </div>
      <div class="p-col" style="padding-left: 15px">
        <app-tagview [tags]="thought.tags"></app-tagview>
      </div>
    </div>
  </p-header>
  <app-markdown-viewer [markdown]="thought.content"></app-markdown-viewer>
  <p-footer>
    <app-thought-buttons [callback]="noop" [thought]="thought" [showLabels]="true"></app-thought-buttons>
  </p-footer>
</p-card>