<h1>Add document</h1>

<p-blockUI [blocked]="creating"></p-blockUI>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formGroupName="details">
    <app-text-input formControlName="firstName" label="First Name" [invalid]="!form.controls.details.controls.firstName.valid && form.controls.details.controls.firstName.dirty" validationError="First name is required"></app-text-input>
  </div>
  <app-tag-input-form-item formControlName="tags"></app-tag-input-form-item>
  <app-repository-input formControlName="repository"></app-repository-input>
  <div class="p-grid">
    <div class="p-col">
      <button pButton type="button" label="Submit" (click)="onSubmit()" class="ui-button-info" [disabled]="!form.valid"></button>
    </div>
  </div>
</form>