.container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.5em;
}

.ActiveTaskContainer {
    display: flex;
    flex-wrap: nowrap;
}


.navbutton {
    padding-bottom: 0.5em;
    flex-grow: 0;
}

.actions {
    padding-bottom: 0.4em;
    flex-grow: 0;
}

.title {
    flex-grow: 1;
    padding-left: 1em;
}