<div class="ks-grid">
  <div class="ks-col SmallGap">
    <button pButton icon="fa fa-bold" (click)="bold.emit()"></button>
  </div>
  <div class="ks-col SmallGap">
    <button pButton icon="fa fa-italic" (click)="italic.emit()"></button>
  </div>
  <div class="ks-col SmallGap">
    <button pButton icon="fa fa-heading" (click)="heading.emit()"></button>
  </div>
  <div class="ks-col SmallGap">
    <button pButton icon="fa fa-list-ul" (click)="ulist.emit()"></button>
  </div>
  <div class="ks-col SmallGap">
    <button pButton icon="fa fa-list-ol" (click)="olist.emit()"></button>
  </div>
  <div class="ks-col SmallGap">
    <button pButton icon="fa fa-link" (click)="link.emit()"></button>
  </div>
  <div class="ks-col SmallGap">
    <button pButton icon="fa fa-quote-left" pTooltip="Quote" (click)="quote.emit()"></button>
  </div>
  <div class="ks-col SmallGap">
    <button pButton icon="fa fa-ruler-horizontal" pTooltip="Horizontal ruler" (click)="hruler.emit()"></button>
  </div>
  <div class="ks-col SmallGap">
    <button pButton icon="fa fa-code" pTooltip="Code" (click)="code.emit()"></button>
  </div>
  <div class="ks-col SmallGap ">
    <button pButton icon="fa fa-file-alt" pTooltip="Select template" (click)="template.emit()"></button>
  </div>
</div>