<p-table [autoLayout]="display.sm" [sortMode]="manualSorting ? null : 'multiple'" [value]="tasks" [rowHover]="true" (onRowReorder)="onRowReorder($event.dragIndex, $event.dropIndex)">
  <ng-template pTemplate="header">
    <tr>
      <th *ngIf="manualSorting"></th>
      <th pSortableColumn="name">
        Name
        <p-sortIcon *ngIf="!manualSorting" field="name"></p-sortIcon>
      </th>
      <th>
        Tags
      </th>
      <th *ngIf="display.md" pSortableColumn="created">
        Created
        <p-sortIcon *ngIf="!manualSorting" field="created"></p-sortIcon>
      </th>
      <th *ngIf="display.md">
        Repository
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task let-index="rowIndex">
    <tr [pReorderableRow]="index">
      <td *ngIf="manualSorting">
        <i class="fa fa-bars" pReorderableRowHandle></i>
      </td>
      <td (click)="this.showView(task)">{{task.name}}</td>
      <td (click)="this.showView(task)">
        <app-tagview [tags]="task.tags"></app-tagview>
      </td>
      <td *ngIf="display.md" (click)="this.showView(list)">{{task.updated | date: "short"}}</td>
      <td *ngIf="display.md" (click)="this.showView(list)">{{task.repository | repositoryName}}</td>
    </tr>
  </ng-template>
</p-table>