<div>


  <a routerLink="/home" routerLinkActive="NavLinkActive" class="NavLink" pTooltip="Home">
    <fa-icon [icon]="homeIcon" class="fa-3x"></fa-icon>
    <br/>
  </a>
  <a routerLink="/inbox" routerLinkActive="NavLinkActive" class="NavLink" pTooltip="Inbox">
    <fa-icon [icon]="inboxIcon" class="fa-3x"></fa-icon>
    <br/>
  </a>
  <a routerLink="/tasks" routerLinkActive="active" class="NavLink" pTooltip="Tasks">
    <fa-icon [icon]="tasksIcon" class="fa-3x"></fa-icon>
    <br/>
  </a>
  <a routerLink="/docs" routerLinkActive="active" class="NavLink" pTooltip="Documents">
    <fa-icon [icon]="docsIcon" class="fa-3x"></fa-icon>
    <br/>
  </a>
  <a routerLink="/repo" routerLinkActive="active" class="NavLink" pTooltip="Repositories">
    <fa-icon [icon]="reposIcon" class="fa-3x"></fa-icon>
    <br/>
  </a>

</div>