<h1>Add document</h1>

<p-blockUI [blocked]="creating"></p-blockUI>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="p-grid">
    <div class="p-col FloatLabelInput">
       <span class="ui-float-label">
              <input #name id="float-name" type="text" class="FormInput" pInputText formControlName="name">
              <label for="float-name">Name</label>
       </span>
    </div>
    <div class="p-col">
      <p-message severity="error" text="Name is required" *ngIf="!form.controls['name'].valid&&form.controls['name'].dirty"></p-message>
    </div>
  </div>
  <app-tag-input-form-item formControlName="tags"></app-tag-input-form-item>
  <app-repository-input formControlName="repository"></app-repository-input>
  <div class="p-grid">
    <div class="p-col">
      <app-markdown-editor [parentFormControl]="contentControl"></app-markdown-editor>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col">
      <button pButton type="button" label="Submit" (click)="onSubmit()" class="ui-button-info" [disabled]="!form.valid"></button>
    </div>
  </div>
</form>