<form [formGroup]="form">
  <div class="ks-grid">
    <div class="ks-col">
      <span class="ui-float-label">
         <input id="searchName" type="text" pInputText formControlName="name"/>
         <label for="searchName">Search for name</label>
       </span>
    </div>
    <div class="ks-col">
      <app-tag-input label="Search for tags" formControlName="tags"></app-tag-input>
    </div>
    <div class="ks-col" *ngIf="contentFilter">
      <span class="ui-float-label">
        <input id="searchContent" type="text" pInputText formControlName="content"/>
        <label for="searchContent">Search for content</label>
       </span>
    </div>
    <div class="ks-col" *ngIf="typeFilter">
      <p-dropdown id="typeSelection" [options]="types" optionLabel="label" placeholder="Select type" formControlName="type" [showClear]="true">
      </p-dropdown>
    </div>
    <div class="ks-col">
      <button pButton type="button" icon="fa fa-times-circle" (click)="onReset()"></button>
    </div>
  </div>
</form>