<div class="ks-grid">
  <div class="ks-col">
    <h3>{{title}}</h3>
  </div>
  <div class="ks-col ks-col-grow">

  </div>
  <div class="ks-col-no-right-pad">
    <span style="padding-right: 5px">
      <button pButton icon="fa fa-arrow-left" (click)="onPrevWeek()"></button>
    </span>
    <p-calendar [ngModel]="_dateAsDate" (ngModelChange)="newDate.emit(asMoment($event))" showButtonBar="true" clearButtonStyleClass="Hidden"></p-calendar>
    <span style="padding-left: 5px">
      <button pButton icon="fa fa-arrow-right" (click)="onNextWeek()"></button>
    </span>
  </div>
</div>

<div style="display: flex; width: 100%">
  <div style="flex-basis: 25px;">
    <div class="HourColumnGap">
      <button pButton [icon]="extendedHours ? 'fa fa-minus-circle' : 'fa fa-plus-circle' " class="HourExtendButton" (click)="setExtendedHours(!extendedHours)"></button>
    </div>
    <div class="HourColumn" [ngStyle]="{height: (_height)+'px', marginTop: (dayLongEventHeight+5 )+'px'}">
      <div *ngFor="let interval  of intervals; let i =index" [ngClass]="i%2==0?'TimeSlotEven':'TimeSlotOdd'" [ngStyle]="{height: _columnHeight+'px'}">
        {{i % 2 == 0 ? interval.hour : ''}}
      </div>
    </div>

  </div>
  <div style="flex-grow: 1">
    <div class="WeekView">
      <div class="Header">
        <div *ngFor="let weekDayNr of [0,1,2,3,4,5,6]">
          <div class="WeekDayContainer" [ngStyle]="{left: 100 / 7 * weekDayNr + '%', width: 100/7+'%'}">
            <div class="WeekDayCell">
              <a [routerLink]="[]" (click)="weekSelected.emit(week[weekDayNr].date)">
                {{date.weekday(weekDayNr).format('D, ddd')}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="dayLongEventHeight>0" class="DayLongEventBody" [ngStyle]="{height: dayLongEventHeight+'px'}">

        <div *ngFor="let event of dayLongEventsInWeek">
          <div pDraggable="events" class="Event" [ngStyle]="{top: (5+event.row*21)+'px', left: (100/7* event.offset) +'%', width: (100/7*event.length)+'%'}">
            {{event.event.title}}
          </div>
        </div>
      </div>
      <div class="EventBody" [ngStyle]="{height: _height+'px'}">
        <div
          pDroppable="events"
          [ngClass]="{'WeekDay': true, 'Weekend': week[weekDayNr].date.day() === 0 || week[weekDayNr].date.day() ===6}"
          [ngStyle]="{left: 100/7*weekDayNr+'%', width: 100/7+'%', borderLeftWidth: weekDayNr === 0 ? '1px': '0'}"
          *ngFor="let weekDayNr of [0,1,2,3,4,5,6]">
          <div *ngFor="let interval  of intervals; let i =index" [ngClass]="i%2==0?'TimeSlotEven':'TimeSlotOdd'" [ngStyle]="{height: _columnHeight+'px'}">

          </div>
        </div>
        <div *ngFor="let event of eventsInWeek[weekDayNr]">
          <div pDraggable="events" class="Event" [ngStyle]="{top: (27+event.row*21)+'px', left: (100/7* event.offset) +'%', width: (100/7*event.length)+'%'}">
            {{event.event.title}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

