<div *ngIf="taskToShow">
  <app-page-title [title]="taskToShow.name">
    <app-task-buttons [task]="taskToShow" [showLabels]="display.lg" *ngIf="display.sm" [onDelete]="gotoOverview"></app-task-buttons>
  </app-page-title>
  <p-card>
    <div>
      <app-inplace-content-editor [text]="taskToShow.content" (newText)="setNewContent($event)"></app-inplace-content-editor>
    </div>
    <p-footer>
      <div class="p-grid">
        <div class="p-col-6" style="padding: 1px">
          <app-tagview [tags]="taskToShow.tags"></app-tagview>
        </div>
        <div class="p-col-6">
          <span>{{taskToShow.updated | date: "short"}}</span>
        </div>
      </div>
    </p-footer>
  </p-card>

  <div *ngIf="display.xsOnly" style="padding-top: 0.5em">
    <p-card>
      <app-task-buttons [task]="taskToShow" [onDelete]="gotoOverview"></app-task-buttons>
    </p-card>
  </div>
</div>
