/* You can add global styles to this file, and also import other style files */
body {
    background-color: #3f3f3f;
    color: #dedede;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.FloatLabelInput {
    padding-top: 1.2em;
}

.FormInput {
    /*width: 22.5em !important;*/
    width: 250px  !important;
}
.FormInputTag {
    /*width: 22.5em !important;*/
    width: 236px  !important;
}
.FormInputTagSmall {
    /*width: 22.5em !important;*/
    width: 225px  !important;
}
.FormInputWithDropDown {
    /*width: 20.5em !important;*/
    width: 217px  !important;
}
.RightAligned {
    text-align: right;
}
.CenterAligned {
    text-align: center;
}

.ks-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.ks-spacer {
    flex-grow: 0;
    flex-basis: 20%;
}

.ks-col {
    flex-grow: 0;
    padding-bottom: 0.5em;
    padding-right: 1em;
}
.ks-col-no-right-pad {
    flex-grow: 0;
    padding-bottom: 0.5em;
    padding-right: 0;
}

.ks-item {
    flex-grow: 1;
}

.ks-gutter {
    flex-basis: 1em;
}

@media only screen and (max-width: 768px) {
    .ks-spacer {
        flex-grow: 0;
        flex-basis: 0px;
    }

}