/* You can add global styles to this file, and also import other style files */
body {
    background-color: #3f3f3f;
    color: #dedede;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.FloatLabelInput {
    padding-top: 1.2em;
}


.FormInput {
    /*width: 22.5em !important;*/
    width: 250px  !important;
}
.FormInputTag {
    /*width: 22.5em !important;*/
    width: 236px  !important;
}
.FormInputWithDropDown {
    /*width: 20.5em !important;*/
    width: 217px  !important;
}